/**
* Global styling document for the GUI
*/

/* Setup the font */
@font-face {
    font-family: Acme;
    src: url('/fonts/Acme-Regular.ttf');
}

/* Change styling for all components */
* {
    -fx-font-family: 'Acme';
    -fx-font-size: 24px;
    -fx-padding: 12px;
}

.button {
    -fx-background-color: gold;
    -fx-border-color: goldenrod;
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 8px;
    -fx-text-fill: black;
    -fx-padding: 10px;
}

.button.canBuy {
    -fx-background-color: green;
    -fx-border-color: darkgreen;
    -fx-text-fill: white;
}

.button.cantBuy {
    -fx-background-color: grey;
    -fx-border-color: dimgray;
    -fx-text-fill: white;
}

.button.plot {
    -fx-background-color: sienna;
    -fx-border-color: maroon;
    -fx-text-fill: white;
}