/**
* Global styling document for the GUI
*/

/* Setup the font */
@font-face {
    font-family: Acme;
    src: url('/fonts/Acme-Regular.ttf');
}

/* Change styling for all components */
* {
    -fx-font-family: 'Acme';
}

.button {
    -fx-background-color: gold;
    -fx-border-color: goldenrod;
    -fx-border-width: 3px;
    -fx-border-radius: 6px;
    -fx-background-radius: 8px;
    -fx-text-fill: black;
}